
.hero
    width 100%
    text-align center
    position relative
    padding 12em 0
    transition font-size 0.4s ease

    &.narrow
        padding-top 9em
        padding-bottom 9em


    // text
    h1
        margin 0
        font-size 4em

    p
        margin 0.6em 0 0
        font-size $largeFontSize
        color #000


    .cta
        margin-top 3em
        @media $bp-mobile
            text-align center
        .button
            margin-right 0.6em
            margin-top 0.5em
            margin-bottom 0.5em
            // @media $bp-mobile
            //     margin-right 0

        a:not(.button)
            color #fff
            font-size 1.3em
            white-space nowrap
            @media $bp-mobile
                font-size 1.6em
                margin-top 1em
                display inline-block


    // use the overlay class to apply another layer to make text readable on photo backgrounds
    &.overlay
        position relative
        &:before
            background fade-out(#fff, 10%)
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 2
        & > *
            position relative
            z-index 5

        &.dark
            &:before
                background fade-out($darkBGColor, 0.1)
        &.light
            &:before
                background fade-out(#fff, 0.1)

    // .dark on its own simply makes text white
    &.dark
        h1, h2, p
            opacity 1
            color white

    // .white "removes" the hero by reducing padding
    &.white
        padding-bottom 3em
        @media $bp-mobile
            padding-bottom 0

    // bottom cta
    &.bottom

        color #fff
        background $darkBGColor
        padding-top 9em
        padding-bottom 9em
        @media $bp-mobile
            padding-top 6em
            padding-bottom 6em

        p
            color fade-out(#fff, 0.4)

        a
            color #fff


        h2
            color #fff
            line-height 1.3
            font-size 3em
            margin 0
            @media $bp-mobile
                font-size 2em
            @media $bp-mobile-small
                text-align center
        a.button
            @media $bp-mobile
                font-size $baseFontSize
            @media $bp-mobile-small
                font-size 2.5em
        .right.column
            @media $bp-mobile
                text-align center
            @media $bp-tablet
                text-align right



