

// layout and responsive variables
$bp-mobile-small = 480px
$bp-mobile       = 767px
$bp-tablet       = 768px
$bp-desktop      = 1024px
$bp-desktop-wide = 1200px

// media queries
$mobile-small = "screen and (max-width: " + $bp-mobile-small + ")";
$mobile       = "screen and (max-width: " + $bp-mobile + ")";
$tablet       = "screen and (min-width: " + $bp-tablet + ")";
$desktop      = "screen and (min-width: " + $bp-desktop + ")";
$desktop-wide = "screen and (min-width: " + $bp-desktop-wide + ")";

// colors

// gear site colors
$orange = #C94B2E;
$blue = #3469B1;
$green = #6B9B54;

$lightGreyBg = #FCFDFD
$lightGreyBorder = #EBF0F0

//type colors
$textColor = #898989;
$headlineColor = #000;
$linkColor = $blue;
$linkColorHover = lighten($linkColor, 10)
$linkColorAlt = #666;
$linkColorHoverAlt = #999;

$darkBGColor = #1A222B;


// typography

$baseFontSize = 1.4em
$smallFontSize = 1.2em
$largeFontSize = 1.6em

$bodyFont
    font-family sans-serif
    font-weight 400
    text-transform none

$headerFont
    font-family serif
    font-weight 400
    text-transform none
