
// colors
$lightGreyBg = #FCFDFD
$lightGreyBorder = #EBF0F0

$darkBGColor = #1A222B;

//type colors
$textColor = #898989;

$headlineColor = #000;

//link colors
$linkColor = #3469B1;

$linkColorHover = lighten($linkColor, 10)

$linkColorAlt = #666;

$linkColorHoverAlt = #999;


// typography

$baseFontSize = 1.4em

$bodyFont
    font-family sans-serif
    font-weight 400
    text-transform none

$headerFont
    font-family serif
    font-weight 400
    text-transform none
