
placeholder-style()
	color #B1B1B1
	transition opacity 0.3s ease
	line-height 1
	position relative
	-webkit-font-smoothing antialiased;
	top 1px


placeholder-focus-style()
	opacity 0.4


input::-webkit-input-placeholder
	placeholder-style()

input:-moz-placeholder
	placeholder-style()

input::-moz-placeholder
	placeholder-style()

input:-ms-input-placeholder
	placeholder-style()



input:focus::-webkit-input-placeholder
	placeholder-focus-style()

input:focus:-moz-placeholder
	placeholder-focus-style()

input:focus::-moz-placeholder
	placeholder-focus-style()

input:focus:-ms-input-placeholder
	placeholder-focus-style()

