
///////////
//
///  Margins
//
/////////////

//may want to make this em based
$xs = 5px
$small = 10px
$medium = 30px
$large = 60px
$xl = 90px

// XS
.maxs
    margin $xs

.mtxs
    margin-top $xs

.mrxs
    margin-right $xs

.mbxs
    margin-bottom $xs

.mlxs
    margin-left $xs

// SMALL
.mas
    margin $small

.mts
    margin-top $small

.mrs
    margin-right $small

.mbs
    margin-bottom $small

.mls
    margin-left $small

// MEDIUM

.mam
    margin $medium

.mtm
    margin-top $medium

.mrm
    margin-right $medium

.mbm
    margin-bottom $medium

.mlm
    margin-left $medium

// LARGE
.mal
    margin $large

.mtl
    margin-top $large

.mrl
    margin-right $large

.mbl
    margin-bottom $large

.mll
    margin-left $large

// XL
.maxl
    margin $xl

.mtxl
    margin-top $xl

.mrxl
    margin-right $xl

.mbxl
    margin-bottom $xl

.mlxl
    margin-left $xl


.mz
    margin 0 !important

