
// colors
$lightGreyBg = #FCFDFD
$lightGreyBorder = #EBF0F0

$darkBGColor = #1A222B;

//type colors
$textColor = #898989;

$headlineColor = #000;

//link colors
$linkColor = #3469B1;

$linkColorHover = lighten($linkColor, 10)

$linkColorAlt = #666;

$linkColorHoverAlt = #999;


// typography

$baseFontSize   = 18 // in pixels. This would result in 22px on desktop
$baseLineHeight = 1.5 // how large the line height is as a multiple of font size

$bodyFont
	font-family sans-serif

$headerFont
	font-family serif
