

$size = 2em

input[type="checkbox"], input[type="radio"]
    display none

label.checkbox
    position relative
    user-select none

    display inline-block

    width $size
    height $size

    border 1px solid fade-out(#000, 0.8)

    &.dark
        border 1px solid fade-out(#fff, 0.8)

    .icon
        display block

        width ($size/2)
        height ($size/2)
        position absolute
        left 0.4em
        top 50%
        margin-top -0.5em
        color fade-out(#000, 0.3)
        opacity 0
        transform scale(0.3, 0.3)
        transition all 0.3s ease

        :before
            content "\e60b"
            font-family icons


    input:checked
        + .icon
            transform scale(1,1)
            opacity 1

        + .dark:after
                color fade-out(#fff, 0.3)


label.radio, label.radio .icon
    border-radius 50%
