

/*
Use like this:

<label class='checkbox'>
    <input type='checkbox' checked='{{filters.unacked}}'/>
    <i class='checkmark icon'></i>
    label
</label>

*/


$size = 2em

input[type="checkbox"], input[type="radio"]
    display none

label.checkbox
    position relative
    user-select none
    line-height 1

    display inline-block

    &:before
        content ''
        display inline-block

        vertical-align middle
        width $size
        height $size

        border 1px solid currentColor

    .icon
        font-size $size
        position absolute
        left 0
        color currentColor
        opacity 0
        transform scale(0.3, 0.3)
        transition all 0.3s ease

        :before
            content "\e60b"
            font-family icons


    input:checked
        + .icon
            transform scale(1,1)
            opacity 1

        + .dark:after
                color fade-out(#fff, 0.3)


label.radio, label.radio .icon
    border-radius 50%
