

$size = 24px

input[type="checkbox"], input[type="radio"]
    display none

    & + label
        position relative
        padding-left $size + 5px


    & + label:before
        content ''
        display inline-block

        width $size
        height $size


        position absolute
        left 0
        top 50%
        margin-top -($size/2)

        background #fff
        border 1px solid rgba(0, 0, 0, 0.33)

    &:checked
        + label
            &:after
                display block
                content ''

                width ($size/2)
                height @width

                position absolute
                left ($size/2/2)
                top 50%
                margin-top -@left

                background #333

input[type="radio"]
    & + label, & + label:before, & + label:after
        border-radius 99px
